@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
    margin: 0.5em;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.welcome {
    text-align: center;
    text-shadow: 4px 4px 2px rgba(89, 149, 195, 0.6);
}

#logo {
    width: 400px;
    height: 300px;
}

#logo-pequeno {
    width: 140px;
    height: 110px;
}

.button {
    width: 250px;
    border-radius: 5px;
}

i {
    margin: 0.2em;
}

h5 {
    margin: 0em;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    text-shadow: 4px 4px 2px rgba(89, 149, 195, 0.6);
}

.input-large {
    width: 700px
}

.input-medium {
    width: 580px
}

.input-small {
    width: 100px
}

#menu-h {
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
    padding-left: 2.5em;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

.icon-red {
    color: red;
    -webkit-text-stroke: 3px;
}

.alert {
    padding: 3px;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0.3em;
}

.closebtn:hover {
    color: black;
}